/******************CONFIG PADRÃO DE ELEMENTOS***************/
body, a {
  margin:0;
  padding: 0;
  font: 16px "Lato", sans-serif;
  color:#777;
  height: 100%;
  background: #fff;
  width: 100%;
  min-width: 700px;
}

ul {
  padding: 0px;
}

h3 {
    text-transform: uppercase;
    text-align: center;
}

li {
    list-style: none;
}

/****************************MENU*********/
#cabecalho{
  height: 60px;
  border-bottom: 2px solid grey;
  border-top: 2px solid grey; 
  width: 100%;
}

#imagem_menu {
  height: 60px;
  width: 10%;
  position: relative;
  left: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.dropdown img{
  width: 40px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 65px;
  left: 35px;
  background: white;
  min-width: 100px;
  width: 300px;
  border-radius: 1%;
  border: 2px solid black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) ;
  z-index: 1;
  opacity: 0.5;
  text-align: center;
  box-sizing: border-box;
  
}

.dropdown:hover .dropdown-content {
  display:block;
  color: #777;
  height: 305px;
  margin-left: 5%;
  margin-right: 5%;    
}

.estilo {
  font-size: 1.5em;
  font-weight: 700;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding: 0;
}

#menucab a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.3px;    
}

#menucab li {
  padding: 1px;
  width: 100%;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}

#menucab li:hover{
  background-color: dimgrey;
}

/******************APARENCIA DAS CAIXAS***************/
.conteudo {
  background-color: #fff;
  border-bottom: 2px solid grey;
  border-top: 2px solid grey; 
  color: #777;
  text-align: center;
  padding: 50px 80px;
}

/******************CONFIG LINKS***************/
#lista a, #retorno {
  text-decoration: none;
  color: #777;
}

/******************CONFIG PARALAX***************/
.caixa {
  height: 550px;
  opacity: 0.7;
  background-repeat: no-repeat;
  position: relative;
}

/******************IMAGENS***************/
.imagem1 {
  background: url(img/imagem1.jpg);
}

.imagem2 {
  background: url(img/imagem2.jpg);
}

.imagem3 {
  background: url(img/imagem3.jpg);
}

.imagem4 {
  background: url(img/imagem4.jpg);
}

.imagem5 {
  background: url(img/imagem5.jpg);
}

.imagem6 {
  background: url(img/imagem6.jpg);
}

.imagem7 {
  background: url(img/imagem7.png);
} 

.imagem8 {
  background: url(img/imagem8.jpg);
}

/******************CONFIG PARALAX***************/
.caixa {
  height: 550px;
  opacity: 0.7;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.titulo {
  position: absolute;
  left:0;
  top: 40%;
  width: 100%;
  color:#fff;
  text-align: center;
}

.titulo span.titspan {
  background-color: #111;
  padding: 10px;
  font-size: 25px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/*INFO PESSOAL*/
#informacao {
  display: inline-block;
  width: 40%;
  text-align: center;
}

.clear {
  clear: both;
}

#fotopessoal {
  display: inline-block;
  width: 40%;
  text-align: center;
}

/*PORTFOLIO*/
.port {
  font-size: 10em;
  position: absolute;
  bottom: -300px;
  width: 100%;
  text-align: center;
}

/*RODAPÃ‰/RETORNO*/
#rodape {
  height: 60px;
  border-bottom: 2px solid grey;
  border-top: 2px solid grey; ;
}

#retorno {
  background-color: #111;
  color: #fff;
}

#escrita_rodape{
text-align: center;
}

#rodape p {
  display: inline-block;
}

/*SOCIAL MEDIA BOX*/
#social_media_box {
  display: inline-block;
  float: right;
  margin-top: 10px;
  margin-right: 30px;
}

#social_media_box a {
  width: 40px;
  margin-right: 10px;
}

#social_media_box img {
  width: 40px;
  padding: 2px; 
}

.first_logo{
  margin-right: 30px;
}
