@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Lekton');

.center-typisc {
  margin: 0 auto;
}

.phrase0 {
  font-family: 'Lekton';
  font-size: 25px;
  font-weight: 700;
  text-shadow: 2px 2px 5px black;
}

.father-container {
  width: 100%;
}

.main {
  height: 100vh;
}

.title {
  font-family: 'Monoton';
  font-size: 50px;
  font-weight: 550;
  margin-top: 25vh;
  text-shadow: 2px 2px 5px black;
}

.subtitle {
  font-family: 'Lekton';
  font-size: 30px;
  font-weight: 600;
  text-shadow: 2px 2px 5px black;
}