@import url('https://fonts.googleapis.com/css?family=Staatliches');

.header-asserts {
  padding: 0 !important;
  min-width: 150px;
}

.header-content {
  background-color: #282c34;
  border-right: 1px solid rgba(0,0,0,.3);
  box-shadow: 3px 0px 30px rgba(0,0,0,.2),
  5px 0px 20px black;
  height: 100%;
  min-width: 150px;
}

.menu-list {
  margin-top: 30px;
  padding: 0;
}

.menu-list li {
  list-style-type: none;
  padding: 5px;
}

.menu-list li a {
  color: antiquewhite;
  font-family: 'Staatliches';
  text-decoration: none;
}

.menu-list-icon li {
  list-style-type: none;
}

.menu-list-icon li a {
  color: white;
  font-size: 35px;
  text-decoration: none;
}

.menu-list-icon li a:hover,
.menu-list li a:hover {
  color: rgb(145, 167, 189)
}


.logo-img {
  margin-top: 25vh;
  width: 50px;
}